body {
  margin: 0;
  font-family: 'Ubuntu',sans-serif !important;
  background-color: #eee8e4 !important;
  
}


.card {
  transition: all 1s;
}

.card:hover{
  transform: scale(1.1);
}

h3{
  text-align: end;
  padding: 20px;
}

h4{
  padding: 10px;
}